html {
    font-family: Rosario;
    font-size: 10px;

}

:root {

    --color-black: #000000;
    --color-white: #FFFCFC;
}

body {
    margin: 0 auto;
    max-width: 1920px;
    min-width: 992px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu {
    display: flex;
}

.logo a {
    width: 13.2%;
}

.logo>img {
    display: block;
    height: auto;
    width: 100%;
}

.nav-menu {
    margin: 0;
    width: 86.8%;
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 700;
}

.nav-menu ul {
    display: flex;
    min-width: 86.8%;
}

.nav-menu li {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
}

.nav-menu a {
    color: var(--color-white);
}

.page {
    margin: 7% auto;
    height: auto;
    max-width: 100%;
}

#page-gallery {
    width: 97%;
    display: flex;
    justify-content: space-between;
    margin: 2% 1%;

}

.photo__left,
.photo__right {
    align-self: center;
    width: 20%;
}


.photo__left>img,
.photo__right>img {
    height: auto;
    width: 100%;
    display: block;
}

.photo__left>img {
    animation-name: left2s;
    animation-duration: 1s;
    animation-timing-function: linear;
    transition-delay: 2s;
    position: relative;
}

.photo__right>img {
    animation-name: right2s;
    animation-duration: 1s;
    animation-timing-function: linear;
    transition-delay: 2s;
    position: relative;
}

.photo__center {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery__photo {
    margin: 1%;
    width: 46%;
    box-sizing: border-box;
}


.gallery_up_l>img,
.gallery_down_l>img {
    height: auto;
    width: 100%;
    display: block;
    animation-name: left1s;
    animation-duration: 1s;
    animation-timing-function: linear;
    transition-delay: 1s;
    position: relative;
}

.gallery_up_r>img,
.gallery_down_r>img {
    height: auto;
    width: 100%;
    display: block;
    animation-name: right1s;
    animation-duration: 1s;
    animation-iteration-count: forwards;
    animation-timing-function: linear;
    transition-delay: 1s;
    position: relative;
}

/*анімація для сторінки Gallery*/

@keyframes left1s {
    from {
        left: -80%;
    }

    to {
        left: 0;
    }
}

@keyframes right1s {
    from {
        right: -80%;
    }

    to {
        right: 0;
    }
}


@keyframes left2s {
    from {
        left: -50%;
    }

    to {
        left: 0;
    }
}

@keyframes right2s {
    from {
        right: -50%;
    }

    to {
        right: 0;
    }
}

#page-services {
    display: flex;
    justify-content: space-between;
}

.services__menu {
    width: 45%;
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.description__serv {
    width: 48%;
    margin: 0 1%;
    align-content: center;
    text-align: center;
    font-size: 4.8rem;
    font-style: italic;
    font-weight: 700;
    line-height: 58px;
    animation-duration: 10s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
    position: relative;
    animation-delay: 0s;
}

.description__serv>img {
    height: auto;
    width: 100%;
    display: block;
}

.services_up_l {

    animation-name: services-up-l;
}

.services_up_r {

    animation-name: services-up-r;
}

.services_down_l {

    animation-name: services-down-l;
}

.services_down_r {

    animation-name: services-down-r;
}

/*зміна видів послуг на сторінці Services*/
@keyframes services-up-l {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 50%;
        top: 0;
    }

    50% {
        left: 50%;
        top: 50%;
    }

    75% {
        left: 0;
        top: 50%;
    }

    100% {
        left: 0;
        top: 0;
    }
}

@keyframes services-up-r {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 0;
        top: 50%;
    }

    50% {
        left: -50%;
        top: 50%;
    }

    75% {
        left: -50%;
        top: 0;
    }

    100% {
        left: 0;
        top: 0;
    }
}

@keyframes services-down-l {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 0;
        top: -50%;
    }

    50% {
        left: 50%;
        top: -50%;
    }

    75% {
        left: 50%;
        top: 0;
    }

    100% {
        left: 0;
        top: 0;
    }
}

@keyframes services-down-r {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: -50%;
        top: 0;
    }

    50% {
        left: -50%;
        top: -50%;
    }

    75% {
        left: 0;
        top: -50%;
    }

    100% {
        left: 0;
        top: 0;
    }
}

.services-photo_r {
    width: 50%;
    align-self: center;
}

.services-photo_r>img {
    height: auto;
    width: 100%;
    display: block;
}

#page-team {
    margin-top: 5%;
}

.team__title {
    width: 90%;
    margin: 5%;
    font-size: 9.6rem;
    font-weight: 700;
    text-align: center;
}

.team__description {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.photo__team {
    position: relative;
    width: 22%;
}

.photo__team > img {
    height: auto;
    display: block;
    width: 100%;
}

/*ефект затемнення всіх фотографій Team*/
.photo__team:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8%;
}

.photo__team:hover:after {
    opacity: 0;
}

/*додавання фонового малюнку з написом імені з opacity 0*/
.meredith_photo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../image/meredith.svg") no-repeat bottom;
    background-size: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s ease;
}


.jason_photo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../image/jason.svg") no-repeat bottom;
    background-size: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s ease;
}

.ryan_photo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../image/ryan.svg") no-repeat bottom;
    background-size: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s ease;
}

.james_photo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../image/james.svg") no-repeat bottom;
    background-size: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s ease;
}

/*при наведенні напис з’являється opacity 1*/
.meredith_photo:hover:before {
    opacity: 1;
}

.jason_photo:hover:before {
    opacity: 1;
}

.ryan_photo:hover:before {
    opacity: 1;
}

.james_photo:hover:before {
    opacity: 1;
}

#page-contacts {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacts__main {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}

.message {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
}

.message__title {
    margin-bottom: 2%;
    height: auto;
    width: 100%;
    font-size: 6.4rem;
    font-style: italic;
    font-weight: 700;
    text-align: center;
}

.message__form {
    height: 90%;
    width: 96%;
    padding: 2%;
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#inp-name,
#inp-email,
#inp-message {
    border: none;
    font-size: 3.6rem;
    margin: 1%;
}

#inp-name,
#inp-email {
    height: 20%;
    width: 47%;
}

#inp-message {
    width: 100%;
    height: 209px;
}

.map__cont {
    margin: 0 2%;
    width: 36%;
    height: auto;
}

.map__cont>iframe {
    display: block;
    height: 100%;
    width: 100%;

}

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 5% 0;
}

.contacts {
    width: 33%;
    margin: 0 1%;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.contacts a {
    font-style: italic;
    font-weight: 700;
    color: var(--color-black);
}

.opening-hours {
    width: 30%;
    margin: 0 1%;
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
    text-align: center;
}

.title__open-h {
    font-style: normal;
    font-size: 3.6rem;
    margin-bottom: 4%;
}

.social-media {
    width: 23%;
    margin: 0 1%;
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.title__soc-media {
    font-style: normal;
}

.site__soc-media a {
    display: block;
    margin-left: 30%;
    text-align: left;
    color: var(--color-black);
}