html {
    font-family: Rosario;
    font-size: 10px;
}

:root {
    --color-black: #000000;
    --color-white: #FFFCFC;
}

body {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    background-color: var(--color-white);
    position: sticky;
    top: 0;
    z-index: 9999;
}

.menu {
    display: flex;
}

.logo a {
    width: 13.2%;
}

.logo a>img {
    width: 100%;
}

.logo>img {
    display: block;
    width: 100%;
}

.nav-menu {
    margin: 0;
    width: 86.8%;
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 700;
}

.nav-menu ul {
    display: flex;
}

.nav-menu li {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
}

.nav-menu a {
    color: var(--color-white);
}

.page {
    margin: 7% 5%;
}

/*Gallery*/
#page-gallery {
    width: auto;
    display: flex;
    justify-content: space-around;
}

.photo__left,
.photo__right {
    align-self: center;
    width: 20%;
}

.photo__left>img,
.photo__right>img {
    height: auto;
    width: 100%;
    display: block;
}

.photo__left>img {
    animation-name: left2s;
    animation-duration: 1s;
    animation-timing-function: linear;
    transition-delay: 2s;
    position: relative;
}

.photo__right>img {
    animation-name: right2s;
    animation-duration: 1s;
    animation-timing-function: linear;
    transition-delay: 2s;
    position: relative;
}

.photo__center {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery__photo {
    margin: 1%;
    width: 46%;
    box-sizing: border-box;
}

.gallery_up_l>img,
.gallery_down_l>img {
    height: auto;
    width: 100%;
    display: block;
    animation-name: left1s;
    animation-duration: 1s;
    animation-timing-function: linear;
    transition-delay: 1s;
    position: relative;
}

.gallery_up_r>img,
.gallery_down_r>img {
    height: auto;
    width: 100%;
    display: block;
    animation-name: right1s;
    animation-duration: 1s;
    animation-iteration-count: forwards;
    animation-timing-function: linear;
    transition-delay: 1s;
    position: relative;
}

/*анімація для сторінки Gallery*/

@keyframes left1s {
    from {
        left: -80%;
    }

    to {
        left: 0;
    }
}

@keyframes right1s {
    from {
        right: -80%;
    }

    to {
        right: 0;
    }
}

@keyframes left2s {
    from {
        left: -50%;
    }

    to {
        left: 0;
    }
}

@keyframes right2s {
    from {
        right: -50%;
    }

    to {
        right: 0;
    }
}

/*Services*/
#page-services {
    display: flex;
    justify-content: space-between;
}

.services__menu {
    width: 45%;
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.description__serv {
    width: 36%;
    margin: 0 6%;
    align-content: center;
    text-align: center;
    font-size: 4.8rem;
    font-style: italic;
    font-weight: 700;
    animation-duration: 15s;
    animation-timing-function: cubic-bezier(.6, .06, .58, 1);
    animation-iteration-count: infinite;
    position: relative;
}

.description__serv>img {
    width: 100%;
    display: block;
}

.services_up_l {
    animation-name: services-up-l;
}

.services_up_r {
    animation-name: services-up-r;
}

.services_down_l {
    animation-name: services-down-l;
}

.services_down_r {
    animation-name: services-down-r;
}

/*зміна видів послуг на сторінці Services*/
@keyframes services-up-l {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 50%;
        top: 0;
    }

    50% {
        left: 50%;
        top: 50%;
    }

    75% {
        left: 0;
        top: 50%;
    }

    100% {
        left: 0;
        top: 0;
    }
}

@keyframes services-up-r {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 0;
        top: 50%;
    }

    50% {
        left: -50%;
        top: 50%;
    }

    75% {
        left: -50%;
        top: 0;
    }

    100% {
        left: 0;
        top: 0;
    }
}

@keyframes services-down-l {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 0;
        top: -50%;
    }

    50% {
        left: 50%;
        top: -50%;
    }

    75% {
        left: 50%;
        top: 0;
    }

    100% {
        left: 0;
        top: 0;
    }
}

@keyframes services-down-r {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: -50%;
        top: 0;
    }

    50% {
        left: -50%;
        top: -50%;
    }

    75% {
        left: 0;
        top: -50%;
    }

    100% {
        left: 0;
        top: 0;
    }
}

.services-photo_r {
    width: 50%;
    align-self: center;
}

.services-photo_r>img {
    width: 100%;
    display: block;
}

#page-team {
    margin-top: 5%;
}

.team__title {
    width: 90%;
    margin: 5%;
    font-size: 9.6rem;
    font-weight: 700;
    text-align: center;
}

.team__description {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photo__team {
    position: relative;
    width: 22%;
}

.photo__team > img {
    display: block;
    width: 100%;
}

/*ефект затемнення всіх фотографій Team*/
.photo__team:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8%;
}

.photo__team:hover:after {
    opacity: 0;
}

/*додавання фонового малюнку з написом імені з opacity 0*/
.meredith_photo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../image/meredith.svg") no-repeat bottom;
    background-size: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease;
}

.jason_photo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../image/jason.svg") no-repeat bottom;
    background-size: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease;
}

.ryan_photo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../image/ryan.svg") no-repeat bottom;
    background-size: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease;
}

.james_photo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../image/james.svg") no-repeat bottom;
    background-size: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease;
}

/*при наведенні напис з’являється opacity 1*/
.meredith_photo:hover:before {
    opacity: 1;
}

.jason_photo:hover:before {
    opacity: 1;
}

.ryan_photo:hover:before {
    opacity: 1;
}

.james_photo:hover:before {
    opacity: 1;
}

/*Contacts*/
#page-contacts {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacts__main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.message {
    display: flex;
    flex-direction: column;
    width: 52%;
    height: 80%;
    margin: 0 1% 0 3%;
}

.message__title {
    margin: 0 9% 2% 9%;
    width: 80%;
    font-size: 6.4rem;
    font-style: italic;
    font-weight: 700;
    text-align: center;
}

.message__form {
    width: 96%;
    padding: 2%;
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#inp-name,
#inp-email,
#inp-message {
    border: none;
    font-size: 3.6rem;
    margin: 2%;
}

#inp-name,
#inp-email {
    height: 8rem;
    width: 45%;
}

#inp-message {
    width: 100%;
    height: 20.9rem;
}

.map__cont {
    margin: 0 3% 0 0;
    width: 41%;
}

.map__cont>iframe {
    display: block;
    height: 100%;
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-around;
    margin: 5% 0;
}

.contacts {
    width: 34%;
    margin: 0 3%;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.contacts a {
    font-style: italic;
    font-weight: 700;
    color: var(--color-black);
}

.opening-hours {
    width: 30%;
    margin: 0 2% 0 1%;
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
    text-align: center;
}

.title__open-h {
    font-style: normal;
    font-size: 3.6rem;
    margin-bottom: 4%;
}

.social-media {
    width: 25%;
    margin: 0 1%;
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.title__soc-media {
    font-style: normal;
}

.site__soc-media a {
    display: block;
    margin-left: 30%;
    text-align: left;
    color: var(--color-black);
}

@media(max-width: 1620px) {
    html {
        font-size: 9px;
    }

    .page {
        margin: 5% 0;
    }
}

@media(max-width: 1120px) {
    html {
        font-size: 8px;
    }

}

@media(max-width: 992px) {
    html {
        font-size: 7px;
    }

    .nav-menu {
        font-size: 3.4rem;
    }

    /*Gallery*/
    .photo__center {
        margin-bottom: 35%;
        width: 150%;
    }

    .photo__left {
        align-self: flex-end;
        transform: translate(130%, -5%);
        transition-delay: 1s;
        width: 50%;
    }

    .photo__right {
        align-self: flex-end;
        transform: translate(-135%, -5%);
        transition-delay: 1s;
        width: 50%;
    }

    /*Services*/
    #page-services {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .services__menu {
        justify-content: space-around;
        width: 86%;
        margin: 2% 7%;
        height: 100vh;
    }

    .services-photo_r {
        width: 100%;
    }

    /*Team*/
    .team__description {
        flex-wrap: wrap;
    }

    .photo__team {
        width: 45%;
        margin-top: 5%;
    }

    /*Contacts*/
    .contacts__main {
        flex-direction: column;
        align-items: center;
    }

    .message {
        width: 95%;
        margin: 2% auto;
    }

    .map__cont {
        height: 50vh;
        width: 95%;
        margin: 0 auto;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 6px;
    }

    /*Gallery*/
    #page-gallery {
        flex-direction: column;
    }

    .photo__center {
        margin: 0;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        transition-delay: none;
    }

    #page-gallery>* {
        width: 80%;
    }

    .gallery__photo {
        width: 70%;
        margin-left: 18%;
    }

    .photo__left {
        width: 90%;
        align-self: center;
        transform: translate(0, 0);
        transition-delay: none;
    }
    .photo__left > img{
        width: 90%;
        margin-left: 6%;
    }
    .photo__right {
        width: 90%;
        align-self: center;
        transform: translate(0, 0);
        transition-delay: none;
    }

    .photo__right > img{
        width: 90%;
        margin-left: 6%;
    }

    .gallery__photo {
        width: 90%;
    }

    /*Services*/
    .services-photo_r {
        width: 0;
    }

    .services__menu {
        height: 80vh;
        margin: 0;
    }

    /*Team*/
    .photo__team {
        width: 80%;
    }

    /*Contacts*/
    .contacts__main {
        flex-direction: column-reverse;
        align-items: center;
    }

    .map__cont {
        margin: 0 2%;
        width: 90%;
        height: 400px;
        margin-bottom: 5%;
    }

    .message {
        width: 90%;
    }
}

@media(max-width: 680px) {
    html {
        font-size: 5px;
    }
}

@media(max-width: 580px) {
    html {
        font-size: 4px;
    }
    .services__menu {
        height: 60vh;
    }
}

@media(max-width: 510px) {
    html {
        font-size: 3px;
    }
}