html {
    font-size: 10px;
}

body {
    margin: 0;

}

a {
    text-decoration: none;
    color: #499FFE;
}
/*посилання в кнопках знизу сторінок*/
.login__button a,
.button__flow a {
    color: #FFFFFF;
    display: block;
    margin: 3%;
}

span {
    color: #D83933;
}

/*загальні для сторінок login та registration */
.page {
    background-color: #001124;
    min-width: 1440px;
    min-height: 1024px;
    display: flex;
    justify-content: flex-end;
}

.form {
    padding-right: 300px;
    width: 361px;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

h1 {
    font-family: "DM Serif Display", serif;
    font-size: 4.5rem;
    line-height: 61.7px;
}

/*окремі для сторінок login та registration */
.page__login {
    background-image: url(../image/login_figure.svg);
    background-repeat: no-repeat;
    background-position: 0 33%;
}

.login__form {
    padding-top: 10%;
    min-height: 374px;
}

.login__data {
    margin-bottom: 11px;
}

.login__data>* {
    font-family: "Padauk", serif;
    font-size: 2rem;
    line-height: 29.49px;
    display: block;
    width: 100%;
}

.login__button {
    font-family: Padauk;
    width: 180px;
    height: 43px;
    border-radius: 5px;
    background-color: #015FC7;
    font-size: 2rem;
    font-weight: 700;
    line-height: 39px;
    box-sizing: border-box;
    text-align: center;
}

.to_registration p {
    color: #499FFE;
}

.page__registration {
    background-image: url(../image/registr_figure.svg);
    background-repeat: no-repeat;
    background-position: 19% 33%;
}

.r__button {
    margin-left: 25%;
    margin-top: 45px;
}

/* start page flow*/
.page__flow {
    font-family: "Public Sans";
    color: #171717;
    margin: 0 auto;
    padding: 50px 40px;
    min-width: 700px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.title__flow {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 28.2px;
    text-align: left;
    color: #171717;
    margin-bottom: 79px;
}

.text__flow {
    font-size: 1.4rem;
    line-height: 19px;
    margin-bottom: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;

}

.container h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 23px;
}

.container-input {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 48px;
}

.input-fild {
    width: 49.1%;
    height: 70px;
    box-sizing: border-box;
}

.input-fild>* {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.input-fild label {
    font-weight: 500;
    height: 23px;
}

.input-fild input,
.input-fild select {
    height: 40px;

}

.single {
    margin-right: 45%;
}

.checkbox {
    width: 49.1%;
}

.checkbox>div {
    display: flex;
    align-items: center;
}

.checkbox input {
    height: 24px;
    width: 24px;
    accent-color: #FF00FF;
}

.checkbox label {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 22px;
}

.search {
    display: flex;
    border: .5px solid gray;
    border-radius: 2.5px;
    box-sizing: border-box;
}

input[type="search"] {
    width: 99%;
    border: none;
}
input::placeholder {
    color: #0050D8;
}

input[type="submit"] {
    background: none;
    background-image: url(../image/mag_glass.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 39px;
    width: 39px;
    border: none;
}

.button__flow {
    align-self: last baseline;
    width: 69px;
    height: 40px;
    border-radius: 4px;
    background-color: #015FC7;
    font-size: 2rem;
    font-weight: 700;
    line-height: 39px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 16px;
}