.burger-menu-release {
  margin-right: 10%;
  background-color: var(--color-red);
  padding: .4rem;
  border-radius: 1rem;
}

.logo {
  width: 7%;
}

.border__r svg {
  padding: 0;
}

.release-dropdown-menu {
  width: 30%;
}

.dropdown-toggle::after {
  display: none;
}

.btn:focus {
  box-shadow: none;
}

.release-burger-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  background-image: url(/image/burger-bg.svg);
  background-position: center;
  background-color: var(--color-red);
  background-repeat: no-repeat;
  border-radius: 10px;
}

.item__menu:hover,
.item__menu:active,
.item__menu:focus {
  background-color: #ffffff00;
  color: var(--color-red);
}

/****ХЛІБНІ КРИХТИ***********/

.release-menu-breadcrumb {
  background: var(--main-background-gradient);
  display: flex;
  justify-content: center;
  vertical-align: middle;
  padding: 2% 0;
}

.breadcrumb {
  margin: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
  float: left;
  padding-right: .5rem;
  content: var(--bs-breadcrumb-divider, "/");
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-blue-main);
}

.release-breadcrumb-item a,
.breadcrumb-item.active {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-blue-main);
}


/*--main-release-section 1--*/
.main-release-section__1 {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.main-release-l {
  flex: 1;
  padding: 0 2%;
}

.title__price {
  border-bottom: 2px solid #E0E0E0;
}

.main-release-l span,
.title__price {
  display: flex;
  justify-content: space-between;
  color: var(--color-blue-main);
  font-size: 1.6rem;
  font-weight: 700;
  width: 100%;
  padding: 5% 0;
}

.filter-menu span.plus,
.title__price span.plus {
  width: 7%;
}

.price-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6% 0;
}

.price-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 48%;
}

.price-input p {
  margin: 0;
  margin-right: 5px;
  color: var(--color-blue-main);
  font-size: 1.6rem;
  font-weight: 700;
}

.price-input input[type="number"] {
  width: 90%;
  padding: 4% 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-filter {
  width: 100%;
  background-color: var(--color-blue-main);
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  padding: 2% 0;
}

.filter-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-menu li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 2px solid #E0E0E0;

}

.main-release-r {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.main-release__r-menu {
  margin: 2% 5%;
  display: flex;
  justify-content: space-between;
}

.main-release-right-filter-menu {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.main-release-right-filter-menu div.dropdown a {
  color: var(--color-blue-main);
  background: none;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
}

.burher-menu-group {
  width: 10%;
  display: flex;
  justify-content: center;
}

.burher-menu-group>img {
  width: 80%;
  padding: 10%;
}

.main-release-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.newbook-card-photo-size {
  flex: none;
  width: 28%;
}

.release-pangination-nav {
  text-align: center;
  display: flex;
  justify-content: center;
}

.pagination-style {
  width: 50%;
  margin: 5% 0;
  justify-content: space-between;
  align-items: center;
}

.pagination-style li {
  margin: 2%;
}


.page-link-style-img {
  border: none;
  width: 5rem;
  padding: 0;
}
.page-link-style-img:hover {
  box-shadow: none;
  background-color: none;
 }

.page-link-style-img span>img {
  width: 100%;
}

.page-link-style {
  text-align: center;
  padding: 15% 0;
  font-size: 2.2rem;
  color: #888888;
  width: 5rem;
  height: 5rem;
  border: 1px solid #E5E3DA;
  border-radius: 50%;
}

.page-link-style:hover,
.page-link-style:active,
.page-link-style:focus {
  box-shadow: none;
  color: var(--color-red);
  border: 1px solid var(--color-red);
  background-color: none;
}

 .page-link-style-img:hover,
 .page-link-style-img:active,
 .page-link-style-img:focus{
  background-color: #ffffff00;
  box-shadow: none;
 }

@media (max-width:960px) {
  .border__r {
    border: none;
    padding: 0;
  }
}

@media (max-width:768px) {
  .main-release-right-filter-menu {
    width: 90%;
    flex-wrap: wrap;
  }

  .main-release-right-filter-menu div.dropdown a {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .burher-menu-group {
    width: 5%;
    flex-direction: column;
  }

  .main-release-cards {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .newbook-card-photo-size {
    padding: 0;
    margin: 0;
    width: 40%;
    flex-direction: row;
    align-items: center;
  }

  .newbook-card-photo-size>img {
    width: 40%;
  }

  .newbook-card-photo__body h5 {
    font-size: 2rem;
  }
}

@media (max-width:480px) {
  .logo img.img {
    width: 70%;
  }

  .burher-menu-group>img {
    margin-bottom: 20%;

  }

  .main-release-l {
    flex: 2;
  }

  .newbook-card-photo-size {
    width: 70%;
    margin: 5%;
  }
  
  .pagination-style {
    width: 90%;
    justify-content: flex-start;
  }

  .page-link-style{
    font-size: 1.7rem;
    width: 4rem;
    height: 4rem;
  }

  .page-link-style-img span >img {
    width: 80%;
  }
}