:root {
    --color-blue-main: #173F5F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

svg path {
    fill: var(--color-blue-main);
}

.text-blue {
    color: var(--color-blue-main);
}

.menu__contacts {
    background-color: #FFFFFF;
}

.menu__contacts a {
    color: var(--color-blue-main);
}

.nav__pages {
    border-top: none;
    margin: 0;
}

.nav__menu {
    padding: 2% 0;
    background-color: var(--color-blue-main);
}

.item__menu a {
    color: #FFFFFF;
}

.item__menu a:focus {
    color: #FFFFFF;
    font-weight: 800;
    transition: all .2s;
}

.main-section-about-card-group {
    display: flex;
    justify-content: space-between;
}

.main-section-about__card {
    margin: 1%;
    border-radius: 1.1rem;
}

.main-section-about__card img {
    width: 100%;
    height: auto;

}

.main-section-about__textcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50rem;
}

.main-section-about__textcard h5 {
    text-align: center;
    font-size: 4.6rem;
    font-weight: 700;
    color: var(--color-blue-main);
}

.btn-view-all {
    background-color: var(--color-red);
    width: 20rem;
    font-size: 2.8rem;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 1rem;
    padding: 1%;
}

.btn-view-all:hover,
.btn-view-all:active,
.btn-view-all:focus {
    background-color: var(--color-blue-main);
    border: none;
    transition: all 0.5s;
}

/*-----main-about-section3-------*/
.main-about-section__3 {
    margin: 5% auto;
}

.main-about-section3__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section3-cards {
    padding-bottom: 3%;
}

.release__title {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.view-all-products {
    margin: 0;
}

/*-----main-about-section4-------*/
.main-about-section__4 {
    display: flex;
    justify-content: space-between;
}

.newbook-card-photo__about {
    display: flex;
    flex-direction: column;
    width: 22%;
    margin: 3% 1%;
    border: none;
    border-radius: 5px;
    box-shadow: 1.03px 4.12px 15px 0px #8282822E;

}

.newbook-card-photo__about>img {
    width: 80%;
    margin: 10%;
}

.rating {
    color: #ffd700;
}

.star {
    font-size: 2.4rem;
}

.main-section__future {
    padding: 10% 0;
}

/*-----main-about-section5-------*/
.main-about-banner {
    margin: 5%;
}

.main-about-banner__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 20%;
}

.main-about-banner__overlay h2 {
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
}

.main-about-banner__overlay p {
    font-size: 1.8rem;
    text-align: center;
}

/*--main-about-section 6--*/
.main-about-section__freebook {
    background-color: #FAEFEF;
    ;
}

.main-about-section-card__freebook {
    padding: 15% 10%;
}

.main-about-section-card__freebook h5 {
    font-size: 3.2rem;
    font-weight: 700;
    color: #000000;
}

.main-about-section-card__freebook p {
    font-size: 1.8rem;
    color: #000000;
    margin-bottom: 14%;
}

.email-input-width {
    width: 50%;
}

.get-free-books-btn {
    width: 50%;
}

/*--main-about-section 7--*/
.main-about-section__7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4% 15%;
}

.main-about-section7__card>* {
    margin-bottom: 4%;
}

.main-about-section7__card h5 {
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--color-blue-main);
}

.main-about-section7__card p {
    font-size: 1.8rem;
    color: var(--color-blue-main);
}

.reed-faq-btn {
    border: 1px solid var(--color-blue-main);
    background-color: #FFFFFF;
    color: var(--color-blue-main);
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2%;
    padding: 1% 5%;
}

.reed-faq-btn:hover,
.reed-faq-btn:active,
.reed-faq-btn:focus {
    background-color: #3932805e;
}

/*--main-about-section 8--*/
.main-about-section__8 {
    background-color: #F7FCFC;
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-about-section8__title {
    margin-bottom: 4%;
}

.main-about-section-card-body time {
    font-size: 1.5rem;
    color: #74642F;
}

.main-section-card__title {
    padding-bottom: 2rem;
    border-bottom: 1px solid #C8C8C8;
}

.main-about-social-media__bottom {
    text-align: end;
}

.main-about-social-media__bottom>a {
    margin: 0 3%;
}

.read-all-articles-btn {
    background-color: #ffffff00;
    border: 1px solid #C0C0C0;
    font-size: 1.6rem;
    color: var(--color-blue-main);
    text-transform: uppercase;
    text-align: center;
    height: 6.1rem;
    width: 19.7rem;
}

.read-all-articles-btn:hover,
.read-all-articles-btn:active,
.read-all-articles-btn:focus {
    background-color: #6b66661e;
}


.about-footer-item__menu a {
    color: var(--color-blue-main);

}




@media (max-width:768px) {

    .main-section {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }

    .main-section-about-card-group {
        flex-direction: column;
        width: 100%;
    }

    .main-section-about__textcard {
        order: -1;
        justify-self: center;
        align-self: center;
        width: 100%;
        margin: 3% 0;
    }

    .newbook-card-photo__about {
        width: 45%;
    }

    .main-about-banner__overlay h2 {
        font-size: 3rem;
    }

    .main-about-banner__overlay p {
        font-size: 1rem;
    }

    .main-about-banner__overlay .view-more {
        border: none;
    }

    .main-about-banner__overlay .view-more:hover {
        background-color: #ffffff00;
        font-weight: 700;
    }
}


@media (max-width:480px) {
    

    .main-about-banner__overlay p {
        display: none;
    }
}