:root {
    --color-red: #ED553B;
    --color-blue-main: #393280;
    --main-background-gradient: linear-gradient(94.04deg, #FCECEC 1.85%, #F6FFFE 64.13%);
}

.color-white {
    color: #FFFFFF;
}

.color-173F5F {
    color: #173F5F;
}

.color-173F5F h1,
.color-173F5F h5 {
    color: #173F5F;
}

.main-books-nav__pages {
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
}

.main-books-nav__menu {
    width: 70%;
    margin: 0;
}

.main-books-menu__offers {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.carousel-control-next-icon {
    background-image: url(../image/arrow-carousel_r.svg);
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
}

.carousel-control-prev-icon {
    background-image: url(../image/arrow-carousel_l.svg);
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
}

/*--main-books-section 1--*/
.main-books-cards__title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main-books-button__block {
    width: 20%;
}

/*--main-books-section 2--*/
.main-books-section__2 {
    background-color: #FCECEC;
    padding: 2% 0;
    margin: 0 auto;
}

.newbook-card-photo-bg {
    background-color: #ffffff;
    border: 1px solid #EAE8DF;
    box-shadow: 0px 4px 10px 0px #00000026;
}

/*--main-books-section 5--*/
.main-books-section__5 {
    background-color: #FCEBEA;
    background-image: url(/image/ornament-bottom-left.svg), url(/image/ornament-bottom-right.svg), url(/image/ornament-top-left.svg);
    background-repeat: no-repeat;
    background-position: bottom left, bottom right, top left;
    padding-bottom: 7%;
}

.main-books-newsletter-form {
    width: 80%;
    margin: 1% auto 2%;
    padding: 5%;
    text-align: center;
    background-color: var(--color-red);
}

.main-books-newsletter-form h2 {
    color: #ffffff;
    font-size: 5.6rem;
    font-weight: 700;
}

.main-books-newsletter-form div {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
}

.main-books-newsletter-form__input {
    display: flex;
    background-color: #ffffff;
    width: 50%;
    padding: 1%;
    margin: -5% auto 5%;
}

.email-input-send {
    width: 72%;
    padding: 2% 0 2% 2%;
}

.letter {
    width: 5.4rem;
    height: 5.4rem;
    border: 1px solid #DFDFDF;
}

.letter-btn {
    color: #ffffff;
    background-color: var(--color-red);
    padding: 2%;
}

/*--main-about-section 8--*/
.main-about-section__8 {
    background-color: #F7FCFC;
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-about-section8__title {
    margin-bottom: 4%;
}

.main-about-section-card-body time {
    font-size: 1.5rem;
    color: #74642F;
}

.main-section-card__title {
    padding-bottom: 2rem;
    border-bottom: 1px solid #C8C8C8;
}

.main-about-social-media__bottom {
    text-align: end;
}

.main-about-social-media__bottom>a {
    margin: 0 3%;
}

.read-all-articles-btn {
    background-color: #ffffff00;
    border: 1px solid #C0C0C0;
    font-size: 1.6rem;
    color: var(--color-blue-main);
    text-transform: uppercase;
    text-align: center;
    height: 6.1rem;
    width: 19.7rem;
}

.read-all-articles-btn:hover,
.read-all-articles-btn:active,
.read-all-articles-btn:focus {
    background-color: #6b66661e;
}

.books-footer {
    background: none;
    background-color: var(--color-red);
    background-image: url(/image/ornament-top-left-white.svg), url(/image/ornament-bottom-right-white.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding: 5%;
}

.books-footer * a,
.books-footer * a:hover,
.books-footer * a:visited {
    color: #FFFFFF;
}

.footer-links a.border-white-r {
    border-right: 1px solid #FFFFFF;
}

@media (max-width:992px) {
    .letter {
        display: none;
    }
}

@media (max-width:768px) {
    .logo__order {
        order: 2;
    }


    .main-books-menu__offers {
        order: 3;
    }

    .main-books-nav__menu {
        width: 7rem;
    }

    .main-banner_l h2 {
        margin-bottom: 1%;
        font-size: 3.5rem;
    }

    .main-banner_l p {
        font-size: 2.2rem;
    }

    .main-books-newsletter-form h2 {
        font-size: 2.6rem;
    }

    .letter-btn {
        font-size: 1.5rem;
    }
}

@media (max-width:480px) {

    .main-books-menu__offers {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 5%;
    }

    .svg__column a>svg {
        margin: 0;
        width: 80%;
    }

    .main-books-newsletter-form__input {
        margin: -2% auto;
        width: 80%;
    }
}