:root {
    --color-red: #ED553B;
    --color-blue-main: #393280;
    --main-background-gradient: linear-gradient(94.04deg, #FCECEC 1.85%, #F6FFFE 64.13%);
}


html {
    font-family: "Inter", sans-serif;
    font-size: 10px;
}

body {
    margin: 0 auto;
    max-width: 1440px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

svg {
    margin-right: 2rem;
}

.bg-none {
    background: none;
}

/* *****header with 3 menu***** */

.menu__contacts {
    margin: 0;
    width: 100%;
    padding: 0 4%;
    background-color: var(--color-blue-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__contacts a {
    color: #FFFFFF;
    font-size: 2.2rem;
    font-weight: 600;
}

.tel {
    flex: 1;
}

.social-media {
    display: flex;
    justify-content: flex-end;
    margin: 2% 0;
    flex: 1;
}

.cont__search-offers {
    padding: 0;
}

.menu__search-offers {
    padding: 0;
    margin: 1% 4% 0;
}

.logo {
    width: 11%;
}

.search {
    height: 45px;
    width: 40%;
    background-color: #F6F6F6;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

input[type="submit"] {
    background: none;
    background-image: url(../image/mag_glass.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 18px;
    width: 18px;
    border: none;
}

#books {
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: #BCBCBC;
    height: 3rem;
    width: 90%;
    outline: none;
}

.menu__offers {
    display: flex;
    width: 45%;
}

.menu__offers div {
    text-align: center;
    flex: 1;
    margin: 0 2%;
}

.menu__offers div a {
    color: var(--color-blue-main);
    font-size: 1.4rem;
    font-weight: 600;
}

.border__r {
    border-right: 1px solid #D1D1D1;
    padding-right: 5%;
}

.img {
    width: 100%;
}

.nav__pages {
    border-top: 2px solid #E0E0E0;
    margin: 2% 0;
}

.burger-menu {
    margin-right: 10%;
    background-color: var(--color-red);
    padding: .4rem;
    border-radius: 1rem;
     display: none;
  }
  

.burger-square-block {
    padding: 1rem;
    width: 5.5rem;
    height: 5.5rem;
    background-color: var(--color-red);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    border-radius: 1rem;
   
  }
  
  .burger-square {
    width: 30%;
    height: 1rem;
    margin: 2px;
    background-color: white;
  }

.nav__menu {
    width: 100%;
    margin: 2% 0;
    padding: 0 4%;
    display: flex;
    justify-content: space-around;
}

.item__menu a {
    color: black;
    font-size: 1.8rem;
    font-weight: 600;
}

.item__menu a:focus {
    color: var(--color-red);
    font-weight: 800;
    transition: all .2s;
}

/*  *****main***** */
.card {
    border: none;
}

.carousel__main {
    width: 100%;
    margin: 0;
}

.new__indicators {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5%;
}

.carousel-indicators [data-bs-target] {
    background-image: url(../image/indicator.svg);
    background-color: #ffffff00;
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
    left: 10%;
    margin: 0 2%;
}

.carousel-indicators .active {
    background-image: url(../image/indicator__act.svg), url(../image/indicator__act_bg.svg);
    background-repeat: no-repeat;
    background-color: #ffffff00;
    background-position: center;
    margin: 0;
    width: 39px;
    height: 39px;
}

/* *****main-section***** */
.main-section {
    margin: 4% auto;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title__categories {
    color: var(--color-red);
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
}

.title__categories>img {
    margin-bottom: 10%;
}

.section-row-title {
    margin-bottom: 5%;
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--color-blue-main);
}

.button__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: 3% 0;
}

.section-row__text {
    color: var(--color-blue-main);
    opacity: .7;
    font-size: 1.8rem;
    font-weight: 500;
}

.round-button {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #E5E3DA;
    cursor: pointer;
    transition: all 0.3s;
}

.round-button:hover {
    background-color: var(--color-red);
}

.round-button:active {
    background-color: var(--color-red);
}

.arrow {
    transition: 0.3s;
}

.round-button:hover .arrow {
    filter: brightness(0) invert(1);
}

.main-section-card-group {
    justify-content: space-between;
    margin-bottom: 2%;
}

.main-section__card {
    padding: 1%;
}

.main-section-card__title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-blue-main);
    margin: 4% 0;
}

.main-section-card__text {
    font-size: 1.6rem;
    color: var(--color-blue-main);
    opacity: .7;
}

.view-more {
    font-size: 1.6rem;
    color: var(--color-blue-main);
    border: none;
    background-color: #ffffff00;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    height: 6.1rem;
    width: 19.7rem;
    border: 1px solid var(--color-blue-main);
    border-radius: 7px;
}

.view-more:hover {
    background-color: #3932805e;

}

.view-more:active {
    background-color: #3932805e;
}

/*------main-section__2-------*/
.main-section__2 {
    display: flex;
}

.main-section__ebook {
    width: 50%;
    background: var(--main-background-gradient);
}

.main-section-card__ebook {
    padding: 5% 8%;
    display: flex;
    flex-direction: column;
}

.login-container {
    display: flex;
    justify-content: center;
    height: 6rem;
    margin-top: 5%;
}

.email-input {
    width: 75%;
    border: 1px solid #cccccc00;
    font-size: 1.4rem;
    font-weight: 600;
    padding-left: 2%;
    color: #BCBCBC;
    border-radius: 10px 0 0 10px;
}

input.email-input::placeholder {
    color: #BCBCBC;
}

.login-button {
    padding: 1rem 2rem;
    background-color: var(--color-red);
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.main-section-photo__ebook {
    width: 50%;
}


/*--main-section 3--*/
.main-section__3 {
    margin: 5% auto;
    width: 100%;
}

.main-section3__title {
    text-align: center;
}

.main-section3__title h6 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #7A7A7A;
    text-transform: uppercase;
}

.release__title {
    display: flex;
    justify-content: space-between;
}

.release__title h1 {
    width: 44%;
    font-size: 4.8rem;
    font-weight: 600;
    color: var(--color-blue-main);
}

.release__title img {
    width: 28%;
}

.main-section3-cards {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 1px solid #E0E0E0;
}

.newbook-card-photo {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid #EAE8DF;
    box-shadow: 0px 4px 10px 0px #00000026;
    margin: 3% 1%;
    position: relative;
}

.add-to-cart-btn {
    align-self: center;
    width: 90%;
    background-color: var(--color-red);
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    padding: 10px 20px;
    border: none;
    position: absolute;
    top: 50%;
    opacity: 0;
    transition: opacity 0.3s;
}

.newbook-card-photo:hover .add-to-cart-btn {
    opacity: 1;
}

.newbook-card-photo__body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.newbook-card-photo__body h5 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--color-blue-main);
}

.newbook-card-photo__body p {
    font-size: 1.4rem;
    color: #888888;
}

.price {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-red);
}

.view-all-products {
    border: none;
    background-color: #ffffff00;
    text-align: center;
    cursor: pointer;
    color: var(--color-red);
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 80%;
    margin-top: 3%;
}

.view-all-products:hover {
    font-weight: 800;
}

/*------main-section 4-----*/

.main-section__4 {
    display: flex;
    background: var(--main-background-gradient);
    padding: 5% 10%;
}

.main-section-photo__future {
    flex: 1;
    position: relative;
}

.mask {
    position: absolute;
    width: 50%;
    z-index: 1;
    top: 40%;
    left: 10%;
}

.future-book__title {
    font-size: 4.8rem;
    font-weight: 600;
    color: var(--color-blue-main);
    text-transform: capitalize;
    margin-bottom: 5%;
}

.main-section__future {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-section__future>h5 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    color: #888888;
}

.main-section__future>h4 {
    text-transform: capitalize;
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--color-blue-main);
}

.main-section__future>p {
    font-size: 1.6rem;
    font-weight: 400;
    color: #7A7A7A;
}

/*-----main-section 5-----*/
.main-section5-banner {
    margin: 4%;
    padding: 5%;
    background-color: #FCEBEA;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
}

.main-banner_l,
.main-banner_r {
    flex: 1;
}

.main-banner_l h2 {
    margin-bottom: 4%;
    font-size: 4.5rem;
    font-weight: 700;
    color: var(--color-blue-main);
}

.main-banner_l p {
    font-size: 3.2rem;
    color: var(--color-blue-main);
}

/*****************Лічильник часу**************/
.counter {
    margin-top: 5%;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counter-value {
    font-size: 2.6rem;
    font-weight: 700;
    color: var(--color-red);
}

.time-unit {
    font-size: 1.6rem;
    font-weight: 500;
}

/***************** кінець лічильника часу***********/

/*-----main-section 6-----*/
.newіletter-form {
    display: flex;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    background-color: #F7FCFC;
}

.newsletter-form__l,
.newsletter-form__r {
    flex: 1;

}

.newsletter-form__l {
    padding: 10% 3% 10% 7%;
}

.newsletter-form__l h2 {
    font-size: 4.8rem;
    font-weight: 600;
}

.newsletter-form__r {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10% 7% 10% 3%;
}

.newsletter-form__disription {
    font-size: 2rem;
    color: #7A7A7A;
}

.newsletter-form__input {
    display: flex;
    border-bottom: 1px solid #6F6F6F;
    margin-top: 10%;
    padding-bottom: 2%;
}

.email-input-send {
    background-color: #f7fcfc00;
    flex: 3;
    outline: none;
    border: none;
}

.email-input-send::placeholder {
    color: #BCBCBC;
    font-size: 1.6rem;
}

.send-button {
    flex: 1;
    border: none;
    background-color: #f7fcfc00;
    color: var(--color-red);
    font-size: 2rem;
    font-weight: 500;
}

/*------main-section 7-----*/
.main-section__7 {
    margin: 3% 0;
}

.our-blog__title {
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
}

.our-blog__cards {
    display: flex;
    flex-wrap: wrap;
}

.blog__card {
    width: 45%;
    margin: 2%;
    position: relative;
    display: flex;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    /* Початкове затемнення */
    opacity: 0;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    /* Анімація затемнення */
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-overlay:hover {
    background-color: rgba(0, 0, 0, 0.5);
    /* Затемнення при наведенні */
    opacity: 1;
}

.card-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
}

.read-more-btn {
    width: 24rem;
    height: 5rem;
    display: block;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    border: 0.97px solid #FFFFFF;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.blog-card-title {
    font-size: 2.2rem;
    font-weight: 700;
}

.blog-card-text {
    font-size: 1.4rem;
}

/*------footer--------*/

footer {
    background: var(--main-background-gradient);
    display: flex;
    flex-direction: column;

}

.footer__top {
    display: flex;
    justify-content: space-between;
}

.footer-socialmedia {
    padding: 4%;
    flex: 2;
}

.footer-socialmedia>* {
    margin-bottom: 5%;
}

.footer__content {
    font-size: 1.8rem;
    color: #011627;
}

.social-media__bottom {
    display: flex;
    justify-content: space-around;
}

.social-media__bottom a {
    flex: 1;
}

.social-media__bottom a>img {
    width: 70%;
}

.footer-title {
    margin-bottom: 5%;
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-red);
    text-transform: uppercase;
}

.footer-nav {
    padding: 4% 2%;
    flex: 1;
}

.footer-nav__menu {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.footer-nav__menu>li {
    margin-bottom: 10%;
}

.footer-news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4%;
    flex: 2;
}

.footer-news-card {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.footer-news-card__title {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-red);
}

.footer-news-card__text {
    font-size: 1.2rem;
    color: #011627;
}

.date {
    color: #F6D55C;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.copyright,
.footer-links a {
    color: #000000;
    font-size: 1.8rem;
    font-weight: 400;
}

.footer-links {
    width: 30%;
    display: flex;
}

.footer-links a {
    flex: 1;
    margin: 2%;
    text-align: center;
}

.footer-links a:nth-child(1) {
    border-right: 1px solid #000000;
}

.footer-links a:hover {
    color: var(--color-red);
}

.footer-links a:visited {
    color: none;
}

@media (max-width:1200px) {
    html {
        font-size: 9px;
    }
}

@media (max-width:992px) {
    html {
        font-size: 8px;
    }
   }

@media (max-width:768px) {
    .navbar {
        width: 100%;
    }
    .main-books-nav__menu{
        width: 0%;
    }
    .nav__menu {
        position: absolute;
        flex-direction: column;
        width: 35%;
        height: auto;
        z-index: 999;
        margin-bottom: 1%;
        top: 100%;
        left: 0;
        padding: 0 4%;
        margin: 0;
        transition: all .4s;
        background-color: #ffffff;
        opacity: 0.84;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .burger-menu {
        display: block;
    }

    .item__menu {
        margin: 2% 0;
    }

    .border__r {
        border-right: none;
        padding: 0;
    }

    .carousel-indicators .active {
        background-image: url(../image/indicator__act.svg);
        background-repeat: no-repeat;
        background-color: #ffffff00;
        background-position: center;
        margin: 0 2%;
        height: 13px;
        width: 13px;
    }

    .main-section__ebook {
        width: 100%;
    }

    .main-section-photo__ebook,
    .menu__offers div a span,
    .release__title img,
    .main-section-photo__future,
    .main-banner_r,
    .send-button>span,
    .footer-news-card>img {
        display: none;
    }

    .release__title h1 {
        width: 100%;
    }

    .blog__card {
        width: 96%;
        margin: 2%;
    }

    .footer-news {
        flex-wrap: wrap;
    }
    
}

@media (max-width:480px) {
    html {
        font-size: 7px;
    }
    .menu__contacts a {
        font-size: 1.5rem;
    }
}
