html {
    font-family: "Work Sans", sans-serif;
    font-size: 10px;
}

main {
    margin: 0 auto;
    background-color: #FFB084;
    border-radius: 20px;
    height: 415px;
    width: 711px;
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-auto-rows: 20px;
    gap: 0 22px;
    padding: 18px 22px 26px 22px;
}

div {
    background-color: #FFFFFF;
    border-radius: 20px;
}

h2 {
    margin: 2% 0 0 0;
    font-size: 1.4rem;
    font-weight: 700;
}

ul {
    margin: 0 0 10% 0;
    padding: 0 15%;
    font-size: 1.4rem;
    font-weight: 400;
}

.card1 {
    grid-row: 1/18;
    box-shadow: 7px 7px 0px 0px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card1 h1 {
    font-size: 2.4rem;
    font-weight: 700;
}

.user_card {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: flex-start;
    font-size: 1.2rem;
    font-weight: 400;
}

.user_card div {
    margin-bottom: 7%;
}

.age {
    margin-right: 7%;
}

.user_card div>span {
    font-weight: 600;
}

.card2 {
    grid-row: 19/22;
    grid-column: 1/2;
    box-shadow: 7px 7px 0px 0px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
}

.card2 p {
    text-align: center;
    width: 90%;
}

.card3 {
    grid-column: 2/4;
    grid-row: 1/6;
    box-shadow: 7px 7px 0px 0px #000000;
}

.card3__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    margin-left: 5%;
    margin-top: 2%;
}

.card3 h2 {
    margin: 0 0 2% 0;
}

.card3 p {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
}

.ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 10%;
}

.card4 {
    grid-column: 2/3;
    grid-row: 7/13;
    box-shadow: 7px 7px 0px 0px #29A71E;
}

.card4 h2 {
    color: #29A71E;
}

.card5 {
    grid-column: 2/3;
    grid-row: 14/22;
    box-shadow: 7px 7px 0px 0px #3675B0;
    display: flex;
}

.card5 h2 {
    color: #3675B0;
}

.card6 {
    grid-column: 3/4;
    grid-row: 7/17;
    box-shadow: 7px 7px 0px 0px #E13535;
}

.card6 h2 {
    color: #E13535;
}

.card7 {
    grid-column: 3/4;
    grid-row: 18/22;
    box-shadow: 7px 7px 0px 0px #000000;
}

.card7 p {
    margin: 2% 0 0 0;
    font-size: 1.4rem;
    font-weight: 400;
}

.card7__descr {
    margin-top: 7%;
    margin-left: 10%;
}