:root {
    --color-blue: #0072DB;
    --color-description: #FF9900;
}

.body {
    margin: 0;
    width: 1440px;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}


.container {
    margin: 0 auto;
}

.container__title {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}

.title1 {
    color: #3E45E8;
}

.title2 {
    color: #E8C23E;
}

/*затемнення у картинки*/
.main__banner {
    height: 741px;
    width: auto;
    background-image: linear-gradient(#0000004f, #0000004f), url(../img/bg.png);
    background-blend-mode: overlay;
    padding: 2% 0 0 2%;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    margin: 20% 0 0 5%;
    background-image: url(../img/prapor.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding: 0 0 0 3%;
}

.banner__text {
    color: white;
    font-size: 48px;
    display: block;
    margin: 1% auto 1% auto;
}

.cards__title {
    height: 78px;
    font-size: 40px;
    font-weight: bold;
    background-image: url(../img/prapor_horysont.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    margin: 2% 0 2%;
}

.cards__text {
    margin: 0 0 0 3%;
}

.cards {
    padding: 0 3%;
    margin: 5% auto;
}

.card {
    display: inline-block;
    width: 30%;
    border: 5px solid #0D095F;
    min-height: 481px;
    vertical-align: top;
    border-radius: 29px;
}

a {
    text-decoration: none;
}

/*тіні у блоків card*/
.shadow1 {
    box-shadow: -16px 21px 35px #00D1FF;
}

.shadow2 {
    box-shadow: 0 21px 35px #00D1FF;
}

.shadow3 {
    box-shadow: 16px 21px 35px #00D1FF;
}

.card-margin {
    margin: 0 3%;
}

/*розмір саме для img в card >img*/
.card__img>img {
    width: 100%;

}

/*колір через посилання*/
.card__title {
    color: var(--color-blue);
    font-size: 24px;
    padding: 0 3%;
}

.card__description {
    color: var(--color-description);
    font-size: 20px;
    padding: 0 3%;
}

.watchword {
    height: 59px;
    margin: 2% 25% 2% 25%;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border-bottom: 7px solid #1400FF;
    }

.watchword__img {
    margin: 0 15% 0 15%;
}

.button {
    height: 81px;
    width: 499px;
    border-radius: 50px;
    background-color: #2A61F0;
    margin: 2% 32.5% 2% 32.5%;
}

a.link {
    display: block;
    text-align: center;
    font-size: 64px;
    color: #FFFFFF;
}

/*градієнт*/
.infofmation {
    background: linear-gradient(#013235, #0D0661);
    padding: 0 0 0.1% 0;
}

.footer__title {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}

.contacts {
    text-align: center;
    font-size: 36px;
    margin: 0 0 1% 0;
}

.link {
    color: #A89D9D;
    letter-spacing: 2px;
    }

.socialmedia {
    text-align: center;
    margin: 0 0 1% 0;
}
.socialmedia > a {
    margin: 0 3% 0 3%;
}
