body {
    margin: 0;
    max-width: 1920px;
    min-width: 900px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #FBE4FF;
}

main {
    padding: 0 6.7% 0 6.7%;
}
.main{
    padding: 0 6.7% 0 6.7%; 
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {

    color: #FFFFFF;
    background-color: #243B93;
}

.menu__nav {
    max-width: 1354px;
    display: flex;
    margin: 0 0 0 5%;
    color: #FFFFFF;
    font-weight: 700;
    height: 65px;
}

.logo {
    padding: .8% 0;
}

.item {
    flex: 1;
    text-align: center;
    padding: 1.5% 0 1% 0;
}

.img__lang {
    padding: 0.8% 0;
}

.lang {
    font-size: 1.75rem;
    padding: 1.5% 0;
}

.title {
    max-height: 85px;
    font-style: italic;
    font-size: 2.75rem;
    color: #202846;
    padding: 1.5% 0 1.5% 0;
}

.title>p {
    margin: 0 0 0 6.7%;
}

.title__main {
    background-color: #BFF0FF;
}

#drop__menu {
    max-width: 1354px;
    min-width: 972px;
}

.title__menu {
    height: 57px;
    background-color: #FFFFFF;
    color: #0000009c;
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
    padding-top: 1%;
    margin: 2% 0 2% 0;
}

.title__menu >p{
    margin: 0;
}
.cards {
    height: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card a {
    display: flex;
    max-width: 1354px;
    min-width: 972px;
    min-height: 300px;
    background: linear-gradient(#ADCBD5 0%, #00AEE6 100%);
    background-repeat: no-repeat;
}

.card:hover a {
    box-shadow: 0 0 60px #2CBDEB;
    background: none;
    background-color: #2CBDEB;
    transition: all 1s;
}

.card:hover .button {
    background-color: #EF075B;
}

.card:hover .star .img {
    display: none;
}

.card:hover .star .hoverimg {
    display: inline-block;
    text-align: end;
}

.card__img {
    align-self: center;
    padding: 0 2% 0 2%;
}

.card__description {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.card__title {
    margin: 0 0 10px 0;
    border-bottom: 3px solid #EDFBFF;
    font-size: 2.75rem;
    color: #202846;
}

.card__text {
    max-width: 702px;
    min-width: 450px;
    max-height: 136px;
    padding: 2% 2% 7.5% 2%;
    background-color: #EDFBFF;
    font-size: 1.4rem;
    color: #202846;
}

.card__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.star {
    text-align: end;
    margin: 0;
    padding: 0 13%;
}

.star .hoverimg {
    display: none;
}

.button {
    text-align: center;
    background-color: #243B93;
    width: 210px;
    height: 36px;
    border-radius: 30px;
    margin: 5% 5% 5% 8%;
    padding: 9% 0 1% 0;
}

.button__up {
    height: 101px;
    width: 101px;
    position: sticky;
    bottom: 0;
    left: 100%;
}

.title__elcab {
    background: linear-gradient(#FFE601 0%, #55D6FF 100%);
}

.contacts__title {
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
}

#elcard {
    margin: 2% 0 -1% 0;
    display: flex;
    max-width: 1354px;
    min-width: 1026px;
    height: 498px;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    background-repeat: no-repeat;
}

.foto__elcard {
    text-align: center;
    margin: 0;
    padding: 5% 10.5% 5% 10.5%;
}

.foto__elcard>img {
    margin: 0 0 20% 0;
}

.button__elcab {
    width: 250px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #243B93;
    padding: 5% 0 5% 0;
    margin-bottom: 10%;
}

.pink {
    background-color: #EF075B;
}

.personal__data {
    padding: 2% 0 2% 0;
    font-size: 2.25rem;
    font-weight: 700;
    color: #353C57;

}

.data {
    border-bottom: 3px solid #FFFFFF;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.button__goout {
    text-align: center;
    border-radius: 30px;
    width: 174px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #243B93;
    padding: 1% 0 1% 0;
    position: relative;
    left: 35vw;
    top: 2vh;
    margin: 1% 0 4% 0;
}

#contacts {
    max-width: 1354px;
    display: flex;
    justify-content: start;
}

.contact1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 320px;
    padding: 2% 4% 2% 0;
    margin: 0 2% 0;
    font-size: 2rem;
    color: #000000;
}

.con1 {
    margin-bottom: 12%;
}

.con__text {
    border-bottom: 3px solid #202846;
}

.map {
    margin: 2% 0 0 0;
}

.map>img {
    height: 290px;
    width: 499px;
}

.footer {
    background-color: #243B93;
    height: 35px;
    color: #FFFFFF;
    padding: 2.3% 0 1% 0;
    margin-top: 1.5%;
}

.footer>p {
    margin: 0 0 0 6.7%;
}