* {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header,
main,
.footer__navigation {
    margin: 0 auto;
    max-width: 1220px;
}

.my__nav {
    background-color: #FFFFFF !important;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
}

.but__login {
    background-color: #EF781A;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.6rem;
    box-shadow: 0px 0px 5px 0px #00000040;
    border: none;
}

.but__login:hover {
    background-color: #5f2f0a;
    transition: 0.7s;
}

.but__basket {
    background-color: #00D008;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.6rem;
    box-shadow: 0px 0px 5px 0px #00000040;
    border: none;
}

.but__basket:hover {
    background-color: rgb(28, 71, 28);
    transition: 0.7s;
}

.input__city {
    width: 45%;
}

#inputcity {
    background-color: white;
    background-position: left;
    background-image: url('../image/adress.svg');
    background-repeat: no-repeat;
    height: 5rem;
    width: 100%;
    padding-left: 40px;
}

.my__carousel {
    margin: 2% auto;
}

.promo {
    border-radius: 10px;
}

.page__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2% auto;
}

.title__main h1 {
    font-size: 3.6rem;
    font-weight: 700;
}

.search {
    display: flex;
    border: .5px solid #A1A1A1;
    border-radius: 2.5px;
    box-sizing: border-box;
    width: 50%;
}

input[type="search"] {
    border: none;
    width: 80%;
    font-size: 1.6rem;
    font-weight: 500;
    color: #A1A1A1;
}

input[type="submit"] {
    background: none;
    background-image: url(../image/mag_glass.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 39px;
    width: 39px;
    border: none;
}

.col {
    margin-bottom: 2%;
}

.card {
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px 5px 0px #00000040;
}

.img__popular,
.img__free-del,
.img__present {
    position: absolute;
    top: 5%;
    left: 5%;

}

.but__delivery {
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 1%;
}

.but__delivery>img {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: .3rem;
}

.card-title {
    font-size: 2.4rem;
    font-weight: 600;
}

footer{
margin-top: 15%;
}

.nav__fix {
position: fixed;
bottom: 0;
width: 100%;
z-index: 2;
}

.footer__navigation {
    display: flex;
    height: 10rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.nav-menu li {
    margin-right: 1%;
}

.nav-menu a {
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: 500;
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.social-media a {
    display: block;
    margin: 0 5%;
}

.social-media a>img {
    width: 100%;
}


@media (max-width: 992px) {
    * {
        font-size: 9px;
    }

}

@media (max-width: 768px) {
    * {
        font-size: 8px;
    }

    .img__popular,
    .img__free-del,
    .img__present {
        width: 40%;
    }

    .block__buttons {
        grid-template: repeat(1, 1fr) / repeat(2, 1fr);
        margin: 0;
        width: 50%;
    }

}

@media (max-width: 665px) {
    * {
        font-size: 7px;
    }
}

@media (max-width: 480px) {
    * {
        font-size: 6px;
    }
}