.main-content {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.search-and-currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search {
  display: flex;
  align-items: center;
  width: 60%;
  background-color: #21222d;
  border-radius: 10px;
}

.search input {
  width: 70%;
  padding: 14px;
  color: #d2d2d2;
  background-color: #21222d;
  border: none;
}

.search button {
  color: white;
  background-color: #21222d;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.search button img {
  width: 20px;
  height: 20px;
}

.currency {
  display: flex;
  gap: 1.5rem;
  color: white;
 }

.currency span {
  font-weight: bold;
}

.currency p {
  margin: 0;
}

.dashboard-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 0;
  justify-content: space-evenly;
}

.section {
  background-color: #21222d;
  border-radius: 8px;
  padding: 10px 20px;
}

.section h3 {
  margin-bottom: 20px;
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}

.todays-sales,
.top-products,
.visitor-insights {
  width: 58%;
}

.level,
.customer-fulfilment,
.earnings {
  width: 28%;
}

.sales-counters {
  display: flex;
  justify-content: center;
}

.counter {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #171821;
  color: white;
  padding: 10px;
  margin: 0 10px;
  border-radius: 8px;
  width: 25%;
  text-align: center;
}

.counter img{
  width: 20%;
  margin-bottom: 1rem;
}

.counter p {
  font-size: 1.1rem;
}

.counter span  {
  font-size: 1.4rem;
}

.top-products-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.top-products-table thead th {
  text-align: left;
  font-size: 1.2rem;
  color: #87888C;
  border-bottom: 1px solid #282c34; 
  padding-bottom: 8px;
}

.top-products-table tbody tr {
  height: 4rem;
  line-height: 4rem;
}

.top-products-table td {
  padding: 0 10px;
  font-size: 1.1rem;
  color: #fff;
}

.popularity-bar {
  height: 0.5px;
  border-radius: 5px;
}

.sales-percentage {
  display: inline-block;
  height: 4vh;
  margin: 2%;
  padding: 0 5px 4px 5px;
  border-radius: 5px; 
}

@media (max-width: 768px) {
  .section {
    width: 100%; 
  }

  .search-and-currency {
    flex-direction: column; 
    gap: 10px;
  }
  .search {
    width: 90%;
   
  }
}
