.sidebar {
  width: 20%;
  background-color: #282c34;
  color: white;
  padding: 2rem;
  box-sizing: border-box;
  transition: width 0.3s ease;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  font-size: 1.1rem;
  font-weight: 500;
  color: #87888C;
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: color 0.3s ease; 
}

.sidebar li:hover, .sidebar li:hover img {
  opacity: 0.5;
}

.sidebar li img {
  margin-right: 1rem;
  width: 24px; 
  height: 24px;
  transition: filter 0.3s ease;
}

@media (max-width: 768px) { 
  .sidebar {
    width: 15%; 
  }

  .sidebar li {
    font-size: 0; 
  }

  .sidebar li img {
    margin-right: 0; 
  }

  .sidebar li:hover {
    text-decoration: none; 
  }
}

@media (max-width: 480px) { 
  .sidebar {
    width: 10%; 
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .sidebar li img {
    margin-right: 0;
  }
}
