.box {
    background-color: black;
    max-width: 500px;
    min-width: 200px;
    height: 600px;
    padding-top: 4%;
    box-sizing: border-box;
    text-align: center;
}

.logo {
 margin: auto;
}
.welcome {
    color: white;
    display: block;
    font-family: 'Arial', sans-serif;
    font-size: 35px;
    letter-spacing: 0.8rem;
    margin: 5rem auto 3rem;
}

.link {
    color: white;
    display: block;
    width: 80%;
    margin: 1.5rem auto 0;
    border: 3px solid;
    padding: 0.8rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-decoration: none;
}